body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    font-family: serif;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border: 2px dotted #000;
    border-collapse: separate;
    border-spacing: 10px;
    text-align: center;
}

th,
td {
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #333;
    font-weight: bold;
}

th,
.bloque-negro {
    background-color: #333333;
    color: white;
    height: 60px;
}

.estudiar-azul {
    background-color: #0052ea;
    color: white;
}

.estudiar-claro {
    background-color: #e2f3f5;
    color: #333;
}

.clases-total {
    background-color: #0052ea;
    color: white;
}

.descansar-azul {
    background-color: #0044ff;
    color: white;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

tr:hover {
    background-color: #D6EEEE !important;
}